<section class="section home-welcome">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				{{siteMacros.titleSection( post.get_field('welcome_title'), 'home-welcome__title' )}}
				<p class="section__subtitle home-welcome__subtitle">{{post.get_field('welcome_name')}}</p>
				<div class="home-welcome__content list list_check">
					{{post.get_field('welcome_content')}}
				</div>
			</div>
			<div class="col-12 col-md-6">
				<img 
					src="{{post.get_field('welcome_image')}}" 
					alt="{{post.get_field('welcome_title')|striptags}}" 
					class="home-welcome__image"
				>
			</div>
		</div>
	</div>
</section>