<section class="home-video background" style="background-image: url({{post.get_field('video_bg')}})">
	<div class="container">
		{{siteMacros.titleSection( post.get_field('video_title'), 'home-video__title' )}}
		<p class="section__subtitle">{{post.get_field('video_subtitle')}}</p>
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="home-video__content list list_check">
					{{post.get_field('video_content')}}
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="home-video__pc">
					<img src="{{post.get_field('video_image')}}" alt="{{post.get_field('video_title')|striptags}}">
					<button class="btn btn_brand-1 effect effect_bounce-top home-video__pc-btn" data-action="modal" data-open="#modal-video" data-video="https://www.youtube.com/embed/{{post.get_field('video_link')}}"></button>
				</div>
			</div>
		</div>
		<div class="home-video__footer">
			{{function('do_shortcode', post.get_field('video_shortcode'))}}
		</div>
	</div>
</section>
<div class="modal" id="modal-video">
	<div class="modal__box modal__box_medium modal__box_transparent">
		<div class="modal__header">
			<button class="modal__close" data-close="modal">&times;</button>
		</div>
		<div class="modal__body">
			<div class="modal__video"></div>
		</div>
	</div>
</div>