<section class="home-calendar background" style="background-image: url({{post.get_field('calendar_bg')}})">
	<div class="container">
		{{siteMacros.titleSection( post.get_field('calendar_title'), 'home-calendar__title' )}}
		<p class="section__subtitle">{{post.get_field('calendar_subtitle')}}</p>
		<!-- <p>текущая дата: {#{current_date|date('d.m.Y')}#}</p> -->
		<div class="tabs">
			<ul class="tabs__list">
				<li class="tabs__list-item"><a class="tabs__list-item-link" data-action="tab" data-target="#tab-1">Прошедшие <span>мероприятия</span></a>
				</li>
				<li class="tabs__list-item active"><a class="tabs__list-item-link" data-action="tab" data-target="#tab-2">Активные <span>мероприятия</span></a>
				</li>
			</ul>
			<div class="tabs__content">
				<div class="tabs__content-inner" id="tab-1">
					<div class="row">
						{% set i = 0 %}
						{% for event in events_past %}
							{% set i = i + 1 %}
							{{siteMacros.eventItem('col-12 col-sm-6 event-item_past', event, "event-past-modal-#{i}")}}
						{% endfor %}
					</div>
				</div>
				<div class="tabs__content-inner active" id="tab-2">
					<div class="row">
						{% set i = 0 %}
						{% for event in events %}
							{% set i = i + 1 %}
							{{siteMacros.eventItem('col-12 col-sm-6', event, "event-new-modal-#{i}")}}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>