<section class="section home-reviews">
	<div class="container">
		{{siteMacros.titleSection( post.get_field('reviews_title'), 'home-reviews__title' )}}
		<div class="home-reviews__content">
			{% for item in post.get_field('reviews_items') %}
				<div class="reviews-item">
					<div class="reviews-item__content">
						{{item.text}}
					</div>
					<div class="reviews-item__footer">
						<p class="reviews-item__name">{{item.name}}</p>
						<img src="{{item.image|resize(60, 60)}}" alt="{{item.name}}">
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>