<section class="section composition">
	{% set j = 0 %}
	{% for image in post.get_field('composition_bg') %}
		{% set j = j + 1 %}
		<img src="{{image.image}}" class="composition__bg composition__bg_{{j}}">
	{% endfor %}
	<div class="container">
		{{siteMacros.titleSection( post.get_field('composition_title'), 'composition__title' )}}

		<div class="composition__content">
			{% set i = 0 %}
			{% for step in post.get_field('composition_steps') %}
				{% set i = i + 1 %}
				<div class="row composition__item composition__item_{{i}}">
					<div class="col-12 col-sm-6 col-md-6 composition__item-column">
						{% if step.image %}
							<img src="{{step.image}}" class="composition__item-image" alt="{{step.title}}">
						{% endif %}
						<div class="composition__item-body">
							<p class="composition__item-title">{{step.title}}</p>
							<div class="composition__item-content">{{step.content}}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{{siteMacros.buttonModal(null, 'composition__footer')}}
	</div>
</section>