{% macro headerContent(title, subtitle, button_text) %}
	<div class="header__content">
		{% if title %}
			<h1 class="title header__title">{{title}}</h1>
		{% endif %}

		{% if subtitle %}
			<h2 class="header__subtitle">{{subtitle}}</h2>
		{% endif %}
		
		{% if button_text %}
			<button class="btn btn_brand-1 header__button">{{button_text}}</button>
		{% endif %}
	</div>
{% endmacro %}

{% macro header(image, title, subtitle, button_text) %}
	{% import _self as macros %}
	<header class="header" style="background-image: url({{image}})">
		<div class="container">
			{{macros.headerContent(title, subtitle, button_text)}}
		</div>
	</header>
{% endmacro %}

