{% macro headerContent(title, subtitle, button_text) %}
	<div class="header__content">
		{% if title %}
			<h1 class="title header__title">{{title}}</h1>
		{% endif %}

		{% if subtitle %}
			<h2 class="header__subtitle title">{{subtitle}}</h2>
		{% endif %}
		
		{% if button_text %}
			<button class="btn btn_shadow btn_lg btn_brand-1 header__button effect effect_bounce-top">{{button_text}}</button>
		{% endif %}
	</div>
{% endmacro %}

{% macro header(image, title, subtitle, button_text) %}
	{% import _self as macros %}
	<header class="header" style="background-image: url({{image}})">
		<div class="container">
			{{macros.headerContent(title, subtitle, button_text)}}
		</div>
	</header>
{% endmacro %}

{% macro titleSection(title, class) %}
	<h3 class="section__title {{class}}">{{title}}</h3>
{% endmacro %}

{% macro buttonModal(text, class) %}
	{% if text %}
		{% set button_text = text %}
	{% else %}
		{% set button_text = "Заказать услугу" %}
	{% endif %}
	<div class="section__button-outer {{class}}">
		<button class="btn btn_shadow btn_lg btn_brand-1 effect effect_bounce-top">{{button_text}}</button>
	</div>
{% endmacro %}

{% macro icon(class, image, title, content) %}
	<div class="col-12 col-sm-4 icon {{class}}">
		<div class="icon__header">
			<img src="{{image}}" alt="{{content|striptags}}" class="icon__image">
		</div>
		{% if title %}
			<div class="icon__title">{{title}}</div>
		{% endif %}
		<div class="icon__content">{{content}}</div>
	</div>
{% endmacro %}

{% macro format(class, image, title, content) %}
	<div class="col-12 col-sm-6 format-item {{class}}">
		<div class="format-item__inner">
			<img src="{{image}}" alt="{{content|striptags}}" class="format-item__image">
			<div class="format-item__body">
				{% if title %}
					<div class="format-item__title">{{title}}</div>
				{% endif %}
				<div class="format-item__content">{{content}}</div>
			</div>
		</div>
	</div>
{% endmacro %}