<div class="fixed">
	<div class="nav" id="js-navigation">
		<div class="nav__container container">
			<div class="nav__row row">
				<div class="nav__logo col-6 col-md-2">
					<button class="hamburger hamburger_effect-2" type="button" id="js-nav-hamburger">
						<span class="hamburger__lines"><span></span><span></span><span></span><span></span></span>
					</button>
					<div class="nav__logo-content">
						<a href="{{site.url}}"><img src="{{options.logo_white}}" alt="{{site.name}}"></a>
					</div>
				</div>
				<nav class="nav__menu col-12 col-md-8" id="js-navigation-menu">
					{% include "menu.twig" with {'menu': menu.get_items} %}
					<div class="nav__menu-options">
						<a href="mailto: {{options.email}}" class="nav__menu-options-link">{{options.email}}</a>
						<ul class="social social_nav">
							{% for item in options.social %}
								<li class="social__item">
									<a href="{{item.link}}" class="social__link" target="_blank">
										<img class="social__image" src="{{item.image}}" alt="Social link">
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</nav>
				<div class="nav__addition col-6 col-md-2" id="js-nav-addition">
          <button class="btn nav__addition-btn effect effect_bounce-top" data-action="modal" data-open="#modal-form">Записаться</button>
        </div>
			</div>
		</div>
	</div>
</div>